In [28]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
nltk.download('stopwords')
import re
import sklearn
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\RAGAVENDAR.DESKTOP-
[nltk_data]     JILJMLR\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [29]:
sms = pd.read_csv("spam.csv",encoding='latin-1')
sms = sms.rename(columns = {'v1': 'label', 'v2': 'message'}, inplace = False)
sms.head()

,label,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [30]:
sms= sms.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

sms.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5)

In [36]:
X = cv.fit_transform(["Hi how are you,how are you doing?","hey what's up","wow cool"]).toarray()

In [37]:
X

array([[2, 0, 1, 2, 2],
       [0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0]], dtype=int64)

In [38]:
cv.get_feature_names()

['are', 'cool', 'doing', 'how', 'you']

In [48]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
TD = vectorizer.fit_transform(["Hi, my name is raghavendra","raghavendra likes programming languange"]).toarray()

In [49]:
TD

array([[0.47107781, 0.47107781, 0.        , 0.        , 0.47107781,
        0.47107781, 0.        , 0.33517574],
       [0.        , 0.        , 0.53404633, 0.53404633, 0.        ,
        0.        , 0.53404633, 0.37997836]])

In [50]:
vectorizer.get_feature_names()

['hi', 'is', 'languange', 'likes', 'my', 'name', 'programming', 'raghavendra']